.container {
    text-align: center;
}

#game-container {
    width: 75em;
    height: 43em;
    margin: auto;
    margin-top: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#game-mode-title {
    width: 15em;
    height: auto;
    margin-top: 2em;
}

.game-mode-buttons {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 14em;
    height: 4.7em;
    margin: 1em 1em;
}

#free-play-button {
    background-image: url('../img/free-play-button.png');
    transition: 0.2s ease-in-out;
}

#free-play-button:hover {
    cursor: pointer;
    background-image: url('../img/free-play-hover.png');
    background-color: transparent;
}

#free-play-button:active {
    background-image: url('../img/free-play-active.png');
    background-color: transparent;
    transition: none;
}

#daily-mode-button {
    background-image: url('../img/daily-mode-button.png');
    transition: 0.2s ease-in-out;
}

#daily-mode-button:hover {
    cursor: pointer;
    background-image: url('../img/daily-mode-hover.png');
    background-color: transparent;
}

#daily-mode-button:active {
    background-image: url('../img/daily-mode-active.png');
    background-color: transparent;
    transition: none;
}

a {
    color: transparent;
}

.password-container {
    text-align: center;
    margin-top: 2em;
    font-size: 20px;
}

#password {
    width: 40em;
    height: 1em;
    border: 2px solid black;
    border-radius: 100px;
    margin-top: 1em;
    padding: 10px;
    font-size: 16px;
}

#enter-button {
    position: absolute;
    width: 7em;
    height: 2.9em;
    border-radius: 100px;
    margin-left: -94px;
    margin-top: 16.75px;
    background-color: #3db22e69;
}