.container {
    text-align: center;
}

#game-container {
    width: 75em;
    height: 43em;
    margin: auto;
    margin-top: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#game-mode-title {
    width: 15em;
    height: auto;
    margin-top: 2em;
}

.game-mode-buttons {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 14em;
    height: 4.7em;
    margin: 1em 1em;
}

#free-play-button {
    background-image: url('../img/free-play-button.png');
    transition: 0.2s ease-in-out;
}

#free-play-button:hover {
    cursor: pointer;
    background-image: url('../img/free-play-hover.png');
    background-color: transparent;
}

#free-play-button:active {
    background-image: url('../img/free-play-active.png');
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

#daily-mode-button {
    background-image: url('../img/daily-mode-button.png');
    transition: 0.2s ease-in-out;
}

#daily-mode-button:hover {
    cursor: pointer;
    background-image: url('../img/daily-mode-hover.png');
    background-color: transparent;
}

#daily-mode-button:active {
    background-image: url('../img/daily-mode-active.png');
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

a {
    color: transparent;
}

.password-container {
    text-align: center;
    margin-top: 2em;
    font-size: 20px;
}

#password {
    width: 34em;
    height: 1.5em;
    border: 2px solid black;
    border-radius: 100px;
    margin-top: 1em;
    padding: 10px;
    padding-right: 135px;
    font-size: 20px;
    letter-spacing: 0.15em;
}

#enter-button {
    position: absolute;
    width: 135px;
    height: 53px;
    font-size: 20px;
    letter-spacing: 0.10em;
    border-radius: 100px;
    margin-left: -133px;
    margin-top: 20.75px;
    background-color: #d8d8d8;
}

#answer-container {
    width: 50em;
    height: 23em;
    margin: auto;
    margin-top: 1em;
}

.red-x {
    background-image: url('../img/red-x.png');
    background-size: cover;
    width: 2em;
    height: 2em;
}

.green-check {
    background-image: url('../img/green-check.png');
    background-size: cover;
    width: 2em;
    height: 2em;
}

.yellow-q {
    background-image: url('../img/yellow-q.png');
    background-size: cover;
    width: 2em;
    height: 2em;
}