#container {
    text-align: center;
}

#game-container {
    width: 75em;
    height: 43em;
    margin: auto;
    margin-top: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#game-mode-title {
    width: 15em;
    height: auto;
    margin-top: 2em;
}

.game-mode-buttons {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 14em;
    height: 4.7em;
    margin: 1em 1em;
}

#free-play-button {
    background-image: url('../img/free-play-button.png');
    transition: 0.2s ease-in-out;
}

#free-play-button:hover {
    cursor: pointer;
    background-image: url('../img/free-play-hover.png');
    background-color: transparent;
}

#free-play-button:active {
    background-image: url('../img/free-play-active.png');
    background-color: transparent;
    transition: none;
}

#daily-mode-button {
    background-image: url('../img/daily-mode-button.png');
    transition: 0.2s ease-in-out;
}

#daily-mode-button:hover {
    cursor: pointer;
    background-image: url('../img/daily-mode-hover.png');
    background-color: transparent;
}

#daily-mode-button:active {
    background-image: url('../img/daily-mode-active.png');
    background-color: transparent;
    transition: none;
}