#logo-container {
    text-align: center;
}

#game-container {
    width: 75em;
    height: 43em;
    margin: auto;
    margin-top: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#game-mode-title {
    width: 15em;
    height: auto;
    margin-top: 2em;
}